-const sitePointEmployees = [
    {
      'firstName': 'James',
      'lastName': 'Hibbard',
      'twitter': 'https://twitter.com/jchibbard',
      'position': 'JavaScript Editor',
      'imgSrc': 'https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2019/02/1550836753jim1-150x150.jpg'
    },
    {
      'firstName': 'Nilson',
      'lastName': 'Jacques',
      'twitter': 'https://twitter.com/nilsonjacques',
      'position': 'JavaScript Editor',
      'imgSrc': 'https://dab1nmslvvntp.cloudfront.net/wp-content/uploads/2015/11/1447635158nilsonjacques-96x96.jpg'
    }
  ]
  
h1 SitePoint JavaScript

ul.team
  each employee in sitePointEmployees
    li
      figure
        img(src=employee.imgSrc alt=`${employee.firstName} ${employee.lastName}`)
          figcaption
            h3 #{employee.firstName} #{employee.lastName}
            p= employee.position
            a(href=employee.twitter target='_blank')
              i.fa.fa-twitter



            //true data
            
extends layout
block content
  body
    div.fluid-container.listing-reg
      if product.length
        table.listing-table.table-light.table-striped
          tr
            th product_id
            th product_name
            th product_quantity
            th produce_type
            th price
            th directions
            th ward
            th Mode_of_payment
            th Mode_of_delivery
            th filebutton
          each produce in product
            tr
              //- td #{produce.product_id}
              //- td #{produce.product_name}
              //- td #{produce.product_quantity}
              //- td #{produce.produce_type}
              //- td #{produce.price}
              td #{produce.directions}
              //- td #{produce.ward}
              //- td #{produce.Mode_of_payment}
              //- td #{produce.Mode_of_delivery}
              td #{produce.filebutton}
      else
        p You are all caught up at the moment, check back soon for new products :(