extends layout
block content
    body
        div.fluid-container.listing-reg
            div(style="height: 303px;")
                div(style='text-align: center;')
                    div(style='max-width: 800px; margin: 0 auto;')
                        h3 Farmer Contact Detail
                        p Product &nbsp; #{product_name}
                        p Price &nbsp; #{price}Ugx
                        p #{firstName} &nbsp; #{lastName}
                        p Phone number &nbsp; #{phone}
                        p Address &nbsp; #{address}
