extends layout
block content
    if farmerOne.length
        table.listing-table.table-dark.table-striped
            tr
                th FirstName
                th LastName
                th Unique ID
                th Ward
                th Gender
                th Date Of Reg 
                th Date Of Birth
                th NIN
                th Phone
                th Address
                th Residence
                th Stay
            each farmer in farmerOne
                tr
                    td #{farmer.firstName}
                    td #{farmer.lastName}
                    td #{farmer.idnumber}
                    td #{farmer.ward}
                    td #{farmer.gender}
                    td #{farmer.dateOfReg}
                    td #{farmer.dateOfBirth}
                    td #{farmer.NIN}
                    td #{farmer.phone}
                    td #{farmer.address}
                    td #{farmer.residence}
                    td #{farmer.stay}
                    td
                        button.btn.btn-dark.btn-block(type="submit")
                            a(href='/users/update/'+farmer._id) Update
            button.btn.btn-dark.mx-auto.d-block
                a(href='/users/regUrbanFarmer/') Add FarmerOne
    else
        p No registrations have been done at the moment :(